body {
margin: 0;
margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 22px;
}

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav div {
float: right;
display: block; 
color: #f2f2f2;
/* text-align: center; */
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav div:hover {
background-color: #ddd;
color: black;
}

.active {
color: white;
}

/* .topnav .icon {
display: none;
} */

.topnav div:not(:first-child) {display: none;}
.topnav div.icon {
    float: left;
    display: block;
}

.topnav.responsive {position: relative;}
.topnav.responsive div {
float: none;
display: block;
text-align: left;
}
.topnav.responsive .icon {
position: relative;
left: 0;
top: 0;
}

.title {
text-align: center;
margin-left: 20px;
margin-right: 20px;
}

#moi {
max-width: 85%;
border:1px solid #021a40;
}

#sunglasses {
max-width: 15%;
}

.imgHome {
display: block;
margin-left: auto;
margin-right: auto;
}

.imgHome {
opacity: 0;
transition: opacity 0.5s ease;
cursor: pointer;
}

.loaded {
opacity: 1;
}

#safarifylogo {
    max-width: 70px;
    float: left;
}

@media only screen and (min-width: 600px) {
    #safarifylogo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 70px;
        float: unset;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
