body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
      line-height: 22px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav div {
    float: right;
    display: block; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav div:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    /* background-color: #4CAF50; */
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  /* @media screen and (max-width: 600px) { */
    .topnav div:not(:first-child) {display: none;}
    .topnav div.icon {
      float: left;
      display: block;
    }
  /* } */
/*   
  @media screen and (max-width: 600px) {
    
   
   
  } */
  .topnav.responsive {position: relative;}
  .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .icon {
    position: relative;
    left: 0;
    top: 0;
  }
  
  .title {
    text-align: center;
  }
  
  #moi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border:1px solid #021a40;
  }